<div class="recipes-index">
  
  <div class="filter-bar">
    <div class="col-not-4">
      get the latest recipes
    </div><!--col-not-4-->
    <div class="col-not-4">
      Filter Recipes by Ingredient
      <%= form_tag("/recipes", method: "get") do%>
        <%= select_tag "ingredient", options_from_collection_for_select(Ingredient.all, "id", "name"), include_blank: true%>
        <%= submit_tag "Filter"%>
      <%end%>
    </div><!--col-not-4-->
    <div class="col-not-4">
      filter by times made
    </div><!--col-not-4-->
    <div class="col-4">
      filter by avg rating
    </div><!--col-4-->
  </div><!--filter-bar-->
  <div class="greeting">
    <h1>Recipes</h1>
  </div><!--greeting-->
  <div class="main">
    <ol>
      <%@recipes.each do |r|%>
        <li>
          <%=link_to r.name, recipe_path(r) %>
        </li>
      <%end%>
    </ol>
  </div><!--main-->
</div><!-- recipes-index -->