<div id="recipe-show" data-id="<%=@recipe.id%>">

</div><!--recipe-show-->

<div id="recipe-makings" class="block instructions">
  <h3>Times Users Made <%=@recipe.name%></h3>
  <ul>
    <%@recipe.makings.each do |m|%>
      <li>
        Rating:  <%=m.rating%> stars <br>
        Notes: <%=m.notes%>
      </li>
    <%end%>
  </ul>
</div>


</div>
