<div id="recipe-show" data-id="<%=@recipe.id%>">
  <div id="recipe-details">
  </div><!--recipe-details-->
 
 <div class="block instructions">
    <h3>Times Users Made <%=@recipe.name%></h3>
    <div id="recipe-makings" >
      <ul>
        
      </ul>
    </div>
  </div>

  <div class="block instructions">
    <h3>Did you make <%=@recipe.name%>? How did it go?</h3>
    <div id="recipe-making-form">
      
    </div>
  </div>

</div><!--recipe-show-->
