<div class="users-show">
  <div class="greeting">
    <h1>Welcome back, <%=@user.name%></h1>
  </div><!--greeting-->

  <div class="user-recent-makings">
    <h3>
      What you've made lately:
      <br>
      1. Cake <br>
      2. Pasta
      <!-- ? view helper that lists recently saved -->
    </h3>
  </div><!--user-recent-makings-->

  <div class="recent-makings">
    <h3>
      What everyone's made lately:
      <br>
      1. Cake <br>
      2. Pasta
      <!-- ? view helper that lists recently saved -->
    </h3>
  </div><!--recent-makings-->

  <div class="recent-recipes">
    <h3>
      New recipes from everyone:
      <br>
      1. Cake <br>
      2. Pasta
      <!-- ? view helper that lists recently saved -->
    </h3>
  </div><!--user-recent-makings-->
</div><!--users-show-->