<div id="ingredients-edit">
  <div class="body-title">
    <h1>Edit <%=@ingredient.name%></h1>
  </div><!--title-->
  <div class="form">
    <%= render 'form' %>
  </div><!--form-->
</div><!--ingredients-edit-->