<h1 class="body-title">Ingredients</h1>

<div id="ingredients-index-buttons">
  
  <button id="previous">Previous</button>
  
  <button id="next">Next</button>

</div>

<div class="ingredients">
  
  <div id="ingredients-index">

  </div>

</div>

<script>
  getIngredients();
</script>

