<h1 class="body-title">Ingredients</h1>

<!-- How we used to display a list of all the ingredients -->
<!-- <div class="ingredients">
  <%# @ingredients.each do |i| %>
      <div class="name">
        <%#=link_to i.name, ingredient_path(i)%>
      </div><--name-->
      <!-- <div class="serving">
        Serving Size: <%#="#{i.serving_size_number} #{i.serving_size_unit}"%>
      </div> --><!--serving-->
  <%#end%>
<!-- </div> -->

<div id="ingredients-index-buttons">
  <button id="previous">Previous</button>
  <button id="next">Next</button>
</div>
<div class="ingredients">
  <div id="ingredients-index">
    <script>
      getIngredients();
    </script>
  </div>
</div>

