<div class="home-page-header">
  Welcome to 
</div> <!--home-page-header-->

<div class="home-page-title">
  My Recipe Box
</div> <!--home-page-title-->

<div class="home-page-blurb">
  <p>
      Create an account with your email or log in with facebook 
      <br>
      to start storing your favorite recipes in My Recipe Box.
  </p>
</div> <!--home-page-blurb-->