<div class="home-page-header">
  Welcome to 
</div> <!--home-page-header-->

<div class="home-page-title">
  My Recipe Box
</div> <!--home-page-title-->

<div class="col-3">
  <div class="col-1-of-3">
  </div> <!--col-1-of-3-->
  <div class="col-2-of-3">
  </div> <!--col-2-of-3-->
  <div class="col-3-of-3">
  </div> <!--col-3-of-3-->
</div> <!--col-3-->


<div class="home-page-blurb">
  <p>
      Create an account with your email or log in with facebook 
      <br>
      to start storing your favorite recipes in My Recipe Box.
  </p>
</div> <!--home-page-blurb-->

