<div class="home-page">
  <div class="header">
    Welcome to 
  </div> <!--header-->

  <div class="title">
    My Recipe Box
  </div> <!--title-->

  <div class="col-3">
    <div class="col-1-of-3">
      hello,
    </div> <!--col-1-of-3-->
    <div class="col-2-of-3">
      anybody
    </div> <!--col-2-of-3-->
    <div class="col-3-of-3">
      home?
    </div> <!--col-3-of-3-->
  </div> <!--col-3-->

  <br>


  <div class="blurb">
    <p>
        Create an account with your email or log in with facebook 
        <br>
        to start storing your favorite recipes in My Recipe Box.
    </p>
  </div> <!--blurb-->
</div> <!--home-page-->
