<div class="home-page">
  <div class="header">
    Welcome to 
  </div> <!--header-->

  <div class="title">
    My Recipe Box
  </div> <!--title-->
  <br>

  <div class="button-holder">
    <%= link_to 'Log In with Your Email', '/sigin', class: "button" %>
    <br>
    <%= link_to 'Log In with Facbook', '/auth/facebook' %>
    <br>
    <%= link_to 'Create an Account', '/users/new' %>
  </div> <!--button-holder-->


  <div class="blurb">
    Create an account with your email or log in with facebook 
    to start storing your favorite recipes in My Recipe Box.
  </div> <!--blurb-->
</div> <!--home-page-->
